<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.rml.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="generator.rml.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password_md5" jdbcType="VARCHAR" property="passwordMd5" />
    <result column="reg_timestamp" jdbcType="TIMESTAMP" property="regTimestamp" />
  </resultMap>
  <resultMap id="BaseResultMap" type="generator.rml.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password_md5" jdbcType="VARCHAR" property="passwordMd5" />
    <result column="reg_timestamp" jdbcType="TIMESTAMP" property="regTimestamp" />
  </resultMap>
  <resultMap id="BaseResultMap" type="generator.rml.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password_md5" jdbcType="VARCHAR" property="passwordMd5" />
    <result column="reg_timestamp" jdbcType="TIMESTAMP" property="regTimestamp" />
  </resultMap>
  <resultMap id="BaseResultMap" type="generator.rml.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password_md5" jdbcType="VARCHAR" property="passwordMd5" />
    <result column="reg_timestamp" jdbcType="TIMESTAMP" property="regTimestamp" />
  </resultMap>
  <resultMap id="BaseResultMap" type="generator.rml.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password_md5" jdbcType="VARCHAR" property="passwordMd5" />
    <result column="reg_timestamp" jdbcType="TIMESTAMP" property="regTimestamp" />
  </resultMap>
</mapper>