<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wosai.bright.mapper.DeviceWarningRuleMapper" >
  <resultMap id="BaseResultMap" type="com.wosai.bright.model.DeviceWarningRule" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="MODEL_CODE" property="modelCode" jdbcType="VARCHAR" />
    <result column="MODEL_PROPERTY_KEY" property="modelPropertyKey" jdbcType="VARCHAR" />
    <result column="TARGET_VALUE" property="targetValue" jdbcType="VARCHAR" />
    <result column="UPPER_LIMIT" property="upperLimit" jdbcType="DECIMAL" />
    <result column="LOWER_LIMIT" property="lowerLimit" jdbcType="DECIMAL" />
    <result column="FREQUENCY" property="frequency" jdbcType="DECIMAL" />
    <result column="ISACCUM" property="isaccum" jdbcType="DECIMAL" />
  </resultMap>

  <select id="getRule" resultMap="BaseResultMap">
    select r.*
    from device_warning_rule r
    <where>
      1 = 1
      <if test="modelCode != null">
        AND r.model_code = #{modelCode}
      </if>
      <if test="key != null">
        AND r.model_property_key = #{key}
      </if>
    </where>
  </select>
</mapper>