<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wosai.bright.mapper.LayerDataMapper" >
  <resultMap id="BaseResultMap" type="com.wosai.bright.model.LayerData" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="LAYER_ID" property="layerId" jdbcType="DECIMAL" />
    <result column="POSITION_X" property="positionX" jdbcType="DECIMAL" />
    <result column="POSITION_Y" property="positionY" jdbcType="DECIMAL" />
    <result column="BACK_COLOR" property="backColor" jdbcType="VARCHAR" />
    <result column="DEVICE_ID" property="deviceId" jdbcType="DECIMAL" />
    <result column="DEVICE_PROPERTY_KEY" property="devicePropertyKey" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>