<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wosai.bright.mapper.LayerIconStatusMapper" >
  <resultMap id="BaseResultMap" type="com.wosai.bright.model.LayerIconStatus" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ICON_ID" property="iconId" jdbcType="DECIMAL" />
    <result column="ICON_SRC" property="iconSrc" jdbcType="VARCHAR" />
    <result column="TARGET_VALUE" property="targetValue" jdbcType="VARCHAR" />
    <result column="UPPER_LIMIT" property="upperLimit" jdbcType="DECIMAL" />
    <result column="LOWER_LIMIT" property="lowerLimit" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="EXPIRE_TIME" property="expireTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>